# Ignore audio folder
/audio/

# Ignore audio_models folder
/audio_models/

# Ignore all .log files
*.log

# Ignore .DS_Store files
.DS_Store
src/.DS_Store

# Ignore stuffs in src folder
src/__pycache__/
src/voice_auth/__pycache__/
src/threshold.txt